{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h1>Projektübersicht: {{ project.name }}</h1>
            </div>
        </div>

        <div class="row">
            {% for taskSet in project.taskSets %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="well">
                    <h2>{{ taskSet.name }}</h2>
                    <ul>
                        {% for task in taskSet.tasks %}
                        <li>
                            <a href="{{ path('task_index', {'id': task.id}) }}">{{ task.name }}</a> {% if task.comments|length %} {{ task.comments|length }} <i class="fa fa-comment"></i>{% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
