{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h1>Project: {{ project.name }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <a href="{{ path('taskSet_add', {'projectId': project.id}) }}" class="btn btn-default">
                        + New Taskset
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            {% if project.taskSets|length %}
                {% for taskSet in project.taskSets %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="well">
                        <h2>{{ taskSet.name }}</h2>
                        <ul class="task-set-{{ taskSet.id }}">
                            {% for task in taskRepo.getUnfinished(taskSet) %}
                            <li>
                                <input type="checkbox" class="finish-task" data-task-id="{{ task.id }}" />
                                <a href="{{ path('task_index', {'id': task.id}) }}">{{ task.name }}</a>
                                {% if task.comments|length %} {{ task.comments|length }} <i class="fa fa-comment"></i>{% endif %}
                            </li>
                            {% endfor %}
                            <li>
                                <form class="add-task-form" data-task-set-id="{{ taskSet.id }}">
                                    <input type="text" class="task-name" />
                                    <input type="submit" value="Add task" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-xs-12">
                    <div class="well">
                        No task sets created yet.
                    </div>
                </div>
            {% endif %}
        </div>

    </div>

    <script type="text/javascript">
        $(function() {

            $('.add-task-form').submit(function(e) {

                e.preventDefault();

                var that = this;
                var taskSetId = $(that).data('task-set-id');
                var taskName = $(that).find('.task-name').val();

                $.ajax({
                    type: 'post',
                    url: '{{ path('task_add') }}',
                    data: {
                        task_set_id: taskSetId,
                        task_name: taskName
                    },
                    dataType: 'json',
                    success: function(result) {
                        if (result !== false) {
                            $(that).parent('li').before('<li><input type="checkbox" class="finish-task" data-task-id="' + result.id + '" /> <a href="/task/' + result.id + '">' + taskName + '</a></li>');
                            $(that).find('.task-name').val('');
                        }
                    }
                });
            });

            $('body').on('click', '.finish-task', function(e) {

                var that = this;
                var taskId = $(that).data('task-id');

                $(that).parent('li').css({textDecoration: 'line-through'});

                $.ajax({
                    type: 'post',
                    url: '{{ path('task_finish') }}',
                    data: {
                        id: taskId
                    },
                    dataType: 'json',
                    success: function(result) {
                        if (result !== false) {
                            $(that).parent('li').remove();
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
