{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h1>Project: {{ project.name }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <a href="{{ path('taskSet_add', {'projectId': project.id}) }}" class="btn btn-default">
                        + New Taskset
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            {% if project.taskSets|length %}
                {% for taskSet in project.taskSets %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="well">
                        <h2><a href="{{ path('taskSet_index', {'id': taskSet.id}) }}">{{ taskSet.name }}</a></h2>
                        <ul class="task-set-{{ taskSet.id }}">
                            {% for task in taskRepo.getUnfinished(taskSet) %}
                            <li>
                                <input type="checkbox" class="finish-task" data-task-id="{{ task.id }}" />
                                <a href="{{ path('task_index', {'id': task.id}) }}">{{ task.name }}</a>
                                {% if task.comments|length %} {{ task.comments|length }} <i class="fa fa-comment"></i>{% endif %}
                            </li>
                            {% endfor %}
                            <li>
                                <form class="add-task-form" data-task-set-id="{{ taskSet.id }}">
                                    <input type="text" class="task-name" />
                                    <input type="submit" value="Add task" />
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-xs-12">
                    <div class="well">
                        No task sets created yet.
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
