{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <h1>{{ task.taskSet.project.name }}: {{ task.taskSet.name }}: {{ task.name }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <div class="description">
                        <h2>Aufgabenbeschreibung:</h2>
                        {{ task.description }}
                    </div>
                    <div class="files row">
                        {% for file in task.files %}
                            <div class="file col-xs-6 col-sm-3 col-md-1">
                                <a href="{{ path('file', {'id': file.id, 'filename': cleanUrl.clean(file.filename), 'ext': file.valueBlobExt}) }}">
                                    <span class="file-{{ file.valueBlobExt }}"></span>
                                    {{ file.filename }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="well">
                    <div class="comments">
                        <h2>Kommentare:</h2>
                        {% for comment in task.comments %}
                        <div class="comment">
                            <h3>
                                <img src="{{ user.getGravatarUrl(50) }}"> {{ comment.createdBy.firstName }} {{ comment.createdBy.lastName }}
                            </h3>
                            <p>{{ comment.created|date('d.m.Y H:i') }}</p>
                            {{ comment.comment|raw }}

                            <div class="files row">
                                {% for file in comment.files %}
                                <div class="file col-xs-6 col-sm-3 col-md-1">
                                    <a href="{{ path('file', {'id': file.id, 'filename': cleanUrl.clean(file.filename), 'ext': file.valueBlobExt}) }}">
                                        <span class="file-{{ file.valueBlobExt }}"></span>
                                        {{ file.filename }}
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
